.header {
    height: 60px;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo{
    height: 60px;
    width: 100%;
    object-fit: contain;
    margin: 0px 20px;
}

.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.header__searchinput{
height: 24px;
border: none;
width: 100%;
padding: 10px;
}

.header__searchicon{
    height: 25px;
    padding: 4px;
    background-color:#E3CCAE;
    margin-right: 10px;
}

.header__nav{
    display: flex;
    justify-content: end;
}

.header__options{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header__optionsone{
    font-size: 10px;
}

.header__optionstwo{
    font-size: 13px;
    font-weight: 500;
}

.header__optionbasket{
    display: flex;
    align-items: center;
    color: white;
}
.header__basketcount{
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .header__nav{
        justify-content: space-around;
        display: none;
    }
  }